:host([class~="event-dialog"]) {
    border-radius: var(--lumo-border-radius-l);
    box-shadow: 0 4px 8px var(--lumo-shade-20pct);
}

:host([class~="event-dialog"])::part(header) {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
    padding: var(--lumo-space-m);
}

:host([class~="event-dialog"])::part(content) {
    padding: var(--lumo-space-l);
}

:host([class~="event-dialog"])::part(footer) {
    padding: var(--lumo-space-m);
}